.table{
    border: 1px solid black;
    font-weight: bold;
    width: 100%;
    padding-top: 10%;
    border-collapse: collapse;

}
th{
    border: 1px solid #0c0b0b; /* Đường kẻ dưới cho các thẻ <th> */
    
}
.carousel{
    padding-top: 2%;
}


